@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body {
    background-color: #7a28ed;
}

h2 {
    color: #e64a19;
}

h1 {
    color: white;
}

.btn {
    font: 12px/14px sans-serif;
}

.btn {
    padding: 15px 25px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #ff4500;
    border: 2px solid #ff4500;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    position: relative;
}

.btn:hover {
    background-color: lime;
    border-color: lime;
    transform: translateY(-3px);
}

.btn:active {
    background-color: #4a19;
    border-color: #4a19;
    transform: translateY(1px);
}

.upgrade {
    padding: 15px 25px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #ff4500;
    border: 2px solid #ff4500;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    position: relative;
    left: -80px; top: 70px;
}

.upgrade:hover {
    background-color: orange;
    border-color: orange;
    transform: translateY(-3px);
}

.upgrade:active {
    background-color: #e64a19;
    border-color: #e64a19;
    transform: translateY(1px);
}

.upgradeTwo {
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #ff4500;
    border: 2px solid #ff4500;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    position: relative;
    left:-70px;top:70px;
}

.upgradeTwo:hover {
    background-color: orange;
    border-color: orange;
    transform: translateY(-3px);
}

.upgradeTwo:active {
    background-color: #e64a19;
    border-color: #e64a19;
    transform: translateY(1px);
}

h2 {
    position: relative;
    top: 200px;
}

.ph {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #ff4500;
    border: 2px solid #ff4500;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    position: relative;
    top: -80px; left: 300px;
}

.ph:hover {
    background-color: black;
    border: black;
    transform: translateX(-20px);
}